- include_javascript 'admin/ruledtable'
- include_javascript 'admin/tablekit'

%h1 Search Results

= render :partial => 'admin/sitemap_search'

%p
  Jump to:
  = link_to 'Pages', '#pages'
  = link_to 'Snippets', '#snippets'

%h2#pages Pages

%table.index.sortable{:summary=>"Page search results for your query '#{params[:q]}'"}
  %thead
    %tr
      - list_display_attributes.each do |att|
        %th{:class => attribute_header_class(att), :id => attribute_header_id(att) }
          %a
            %span.w1= att.humanize
  %tbody
    - if !@pages.blank?
      = render :partial => "admin/pages/page", :collection => @pages
    - else
      %tr
        %td.note{:colspan => list_display_attributes.size }
          = params[:q].blank? ? "Empty search." : "No results from query."
          Please try again.

%h2#snippets Snippets

%table#snippet_list.index.sortable{:summary=>"Snippet search results for your query '#{params[:q]}'"}
  %thead
    %tr
      %th
        %a
          %span.w1 Name
      %th
        %a
          %span.w1 Updated by name
      %th
        %a
          %span.w1 Updated at
  %tbody
    - if !@snippets.blank?
      = render :partial => "snippet", :collection => @snippets
    - else
      %tr
        %td.note{:colspan => 3 }
          = params[:q].blank? ? "Empty search." : "No results from query."
          Please try again.
    

- content_for :page_css do
  :sass
    #content
      table.index.sortable
        th
          background-position: right center
          background-repeat: no-repeat
          &.sortasc
            background-image: url(/images/admin/move_lower.png) ! important
            background-color: #ff8 ! important
          &.sortdesc
            background-image: url(/images/admin/move_higher.png) ! important
            background-color: #8ff ! important            
    th a
      color: black
      text-decoration: none
      font-weight: bold
      &:hover
        text-decoration: underline